@media screen  and (max-width: 375px) {
    body{
        background-color: hsl(225, 100%, 94%);
        font-family: "Red Hat Display", sans-serif;
        
        margin: 5rem 1rem;
        display: flex;
        flex-direction: column;
        margin-inline: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-x: hidden;
    }
    body::after{
    
        content: "";
        position: absolute;
        width: 47.1875rem;
        height: 400px;
        background-image: url("images/pattern-background-mobile.svg");
        background-size: contain;
        background-repeat: no-repeat;
        top: -200px;
        background-position: center;
        left: -370px;
        z-index: -1;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .hero-pic{
        width: 17rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .main-content{
        width: 13.25rem;
        height: 15rem;
        background-color: white;
        margin-top: -0.3rem;
        text-align: center;
        padding: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    .content-1{
        line-height: 1;
    }
    .content-1 h1{
        color:  hsl(223, 47%, 23%);
        margin-top: -0.2rem;
        font-size: 17px;
    }
    .content-1 p{
        color:  hsl(224, 23%, 55%);
        font-size: 13px;
        line-height: 1.2;
    }
    .content-2{
        display: flex;
        width: 100%;
        align-items: center;
        background-color:  hsl(225, 100%, 98%);
        gap: 1rem;
        border-radius: 10px;
        padding: 0px;
    }
    .picture{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        
    }
    .annual{
        line-height: 0.8;
    }
    .annual p{
        color:  hsl(224, 23%, 55%);
        text-align: left;
        font-size: 10px;
    }
    .annual h2{
        color:  hsl(223, 47%, 23%);
        font-size: 11px;

    }
    .change{
        text-decoration: underline;
        color:  hsl(245, 75%, 52%);
        font-size: 11px;
    }
    button{
        width: 100%;
        color: white;
        padding: 10px;
        border-radius: 10px;
        background-color: hsl(245, 75%, 52%);
        border: none;
        font-size: 11px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 2px 4px 5px 5px hsl(223, 47%, 100%);
        -webkit-box-shadow:  2px 4px 5px 10px hsl(245, 75%, 93%);
        -moz-box-shadow: 2px 4px 5px 10px hsl(223, 47%,100%);
        
    }
    .content-3 p{
        color:  hsl(224, 23%, 55%);
        font-size: 11px;
        font-weight: bold;
      
    }
}